acme-agency/acmeat/src/main/resources/bankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd1="it.unibo.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="it.unibo.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="it.unibo.wsdl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="it.unibo.xsd">
            <xs:element name="verifyToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyTokenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="amount" type="xs:double"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTokenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="status" type="xs:string"/>
                        <xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refound">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refoundResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="success" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="VerifyTokenRequest">
        <wsdl:part name="body" element="xsd1:verifyToken"/>
    </wsdl:message>
    <wsdl:message name="RefoundResponse">
        <wsdl:part name="body" element="xsd1:refoundResponse"/>
    </wsdl:message>
    <wsdl:message name="GetTokenRequest">
        <wsdl:part name="body" element="xsd1:getToken"/>
    </wsdl:message>
    <wsdl:message name="GetTokenResponse">
        <wsdl:part name="body" element="xsd1:getTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="VerifyTokenResponse">
        <wsdl:part name="body" element="xsd1:verifyTokenResponse"/>
    </wsdl:message>
    <wsdl:message name="RefoundRequest">
        <wsdl:part name="body" element="xsd1:refound"/>
    </wsdl:message>
    <wsdl:portType name="Bank">
        <wsdl:operation name="verifyToken">
            <wsdl:input message="tns:VerifyTokenRequest"/>
            <wsdl:output message="tns:VerifyTokenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getToken">
            <wsdl:input message="tns:GetTokenRequest"/>
            <wsdl:output message="tns:GetTokenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="refound">
            <wsdl:input message="tns:RefoundRequest"/>
            <wsdl:output message="tns:RefoundResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BankSOAPBinding" type="tns:Bank">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verifyToken">
            <soap:operation soapAction="verifyToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getToken">
            <soap:operation soapAction="getToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refound">
            <soap:operation soapAction="refound" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BankService">
        <wsdl:port name="BankServicePort" binding="tns:BankSOAPBinding">
            <soap:address location="http://localhost:8000"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
